.pencil {
    width: 10px;
    min-height: 10px;
    margin: 6px auto;
}
@media screen and (max-width: 700px) {
    .pencil {
        width: 8px;
        max-height: 8px;
        margin: auto 5px 3px auto;
    }
}