.pencil {
    width: 10px;
    min-height: 10px;
    background-image: url(../../images/bleistift.svg);
    margin: 6px auto;
}
@media screen and (max-width: 700px) {
    .pencil {
        width: 8px;
        max-height: 8px;
        margin: auto;
    }
}