.edit-button {
    width: 24px;
    height: 24px;
    margin: 15px 0 auto 18px;
    background-color: #000;
    border: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}
.edit-button:hover {
    opacity: 0.6;
}
@media screen and (max-width: 700px) {
    .edit-button {
        width: 18px;
        max-height: 18px;
        margin: 8px auto auto 10px;
    }
}