.popup__close {
    width: 510px;
    margin: 155px auto 8px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
@media screen and (max-width: 700px) {
    .popup__close {
        width: 282px;
        margin: 87px auto 16px;
    }
}