.popup__field-role {
    margin: 30px auto 13px 36px;
    font-size: 14px;
    line-height: 17px;
}
@media screen and (max-width: 700px) {
    .popup__field-role {
        margin: 30px auto 13px 22px;
    }
}