.profile__info {
    
    min-height: 73px;
    margin:22px 25px 25px 30px;
    display: flex;
    color: #fff;
}
@media screen and (max-width: 900px) {
    .profile__info {
        margin: auto auto auto 10px;
    }
}
@media screen and (max-width: 700px) {
    .profile__info {
    
        min-height: 54px;
        margin: 22px auto 36px;
    }
}